In [3]:
import pandas as pd

In [4]:
school_dictionary = {"school name" : ["Auguste Escoffier School of Culinary Arts", "Institute of Culinary Education","Institute of Culinary Education"],
                     "city" : ["Boulder", "New York", "Los Angeles"],
                     "state" : ["CO", "NY", "CA"],
                     "latitude" : [40.014984, 40.730610, 34.052235],
                     "longitude" : [-105.270546, -73.935242, -118.243683]}
school_df = pd.DataFrame(school_dictionary)
school_df
# school_df.to_csv("clean_school_location.csv", encoding= 'utf-8', index = False)

,school name,city,state,latitude,longitude
0,Auguste Escoffier School of Culinary Arts,Boulder,CO,40.014984,-105.270546
1,Institure of Culinary Education,New York,NY,40.730610,-73.935242
2,Institute of Culinary Education,Los Angeles,CA,34.052235,-118.243683