In [1]:
import pandas as pd

In [2]:
inflation_df = pd.read_csv('Global Dataset of Inflation.csv')
usa_inflation_df = inflation_df[inflation_df["Country Code"] == "USA"]
food_non_alc_bev_df = usa_inflation_df.loc[[543]]
food_df = food_non_alc_bev_df

dropped_columns_df = food_df.drop(["IMF Country Code","Indicator Type","Series Name","Note", "Unnamed: 59", "Unnamed: 60","Unnamed: 61","Unnamed: 62","Unnamed: 63" ], axis=1)
food_inflation_df = dropped_columns_df  

food_inflation_df.to_csv("clean_inflation_dataset.csv", encoding="utf-8", index=False)

,Country Code,Country,1970,1971,1972,1973,1974,1975,1976,1977,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
182,USA,United States,5.900000,4.29,3.27,6.18,11.05,9.14,5.74,6.50,...,1.46,1.62,0.12,1.26,2.14,2.44,1.81,1.23,4.70,8.00
363,USA,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.97,2.33,16.90,7.10,25.60,21.27,2.59,21.01,27.12
543,USA,United States,5.400000,3.07,4.13,13.29,13.76,8.44,3.09,5.96,...,1.41,2.31,1.80,0.34,0.88,1.40,0.89,3.51,3.47,11.35
665,USA,United States,6.245934,4.69,3.06,3.48,8.24,9.22,6.57,6.25,...,1.76,1.75,1.83,2.21,1.84,2.14,2.19,1.70,3.57,6.22
776,USA,United States,3.610000,3.33,4.41,13.14,18.81,9.25,4.65,6.13,...,1.36,1.58,-0.87,0.42,2.33,2.90,1.69,-2.12,8.95,7.91