* Import `pandas` and name as alias `pd`

In [1]:
import pandas as pd

* Created a new variable `inflation_df` and set it equal to the imported file `US CPI.csv`

In [2]:
inflation_df = pd.read_csv('US CPI.csv')
inflation_df.head()

      Yearmon  CPI
0  01-01-1913  9.8
1  01-02-1913  9.8
2  01-03-1913  9.8
3  01-04-1913  9.8
4  01-05-1913  9.7

* Renamed column(s) `Yearmon` and `CPI` to `year` and `cpi` to make compatable for joining other .csv files

In [3]:
inflation_df.rename(columns={"Yearmon":"year"}, inplace=True)
inflation_df.rename(columns={"CPI":"cpi"}, inplace = True)
inflation_df.head()

         year  cpi
0  01-01-1913  9.8
1  01-02-1913  9.8
2  01-03-1913  9.8
3  01-04-1913  9.8
4  01-05-1913  9.7

* Changed `datatype` of `year` column to `datetime64[ns]`

In [4]:
inflation_df["year"] = pd.to_datetime(inflation_df["year"])
inflation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    1303 non-null   datetime64[ns]
 1   cpi     1303 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 20.5 KB

* Specified the four digit year only for data in `year` column

In [5]:
inflation_df["year"] = inflation_df["year"].dt.strftime('%Y')

inflation_df.head()

   year  cpi
0  1913  9.8
1  1913  9.8
2  1913  9.8
3  1913  9.8
4  1913  9.7

* Converted cleaned data frame to `clean_inflation.csv` file and exported.

In [6]:
inflation_df.to_csv("clean_inflation.csv", encoding="utf-8", index=False)