* Import `pandas` and name as alias `pd`

In [20]:
import pandas as pd

* Created a new variable `vegan_restaurants_df` and set it equal to the imported file `vegetarian_restaurants_usa.csv`

In [21]:
vegan_restaurants_df = pd.read_csv('vegetarian_restaurants_usa.csv')
vegan_restaurants_df.head()

,address,categories,city,claimed,country,cuisines,dateOpened,dateUpdated,descriptions,facebookPageURL,...,menuURL,name,paymentTypes,phones,postalCode,priceRange,province,sic,twitter,websites
0,2871 Gulf To Bay Blvd,"American, American (new), Clearwater Restauran...",Clearwater,NaN,US,NaN,NaN,2014-02-01T04:41:06Z,"Tags: American (New), American, and Trendy Sta...",NaN,...,NaN,Village Inn Restaurant and Bakery,NaN,7277964988,33759,NaN,FL,8423,NaN,NaN
1,605 W Main St,Caf and Sandwich Place,Louisville,NaN,US,"Vegetarian, Delicatessen",NaN,2016-07-23T22:37:24Z,"Atlantic No. 5, Louisville: See 4 unbiased rev...",NaN,...,NaN,Atlantic No. 5,Yes,5028833398,40202,USD 25.00-40.00,KY,NaN,NaN,atlanticno5.com
2,3803 9th St S W,"American, Barbecue, Puyallup Restaurants, Barb...",Puyallup,NaN,US,NaN,NaN,2015-11-19T22:22:31Z,"Description: Famous Dave's is a Barbecue , Am...",NaN,...,NaN,Famous Dave's,NaN,2536040340,98373,USD 10.00 - USD 15.00,WA,5610,NaN,http://famousdaves.com
3,30 S Main St,"Coffee & Tea, Restaurant, Restaurants, Bar, Am...",Oberlin,NaN,US,"Coffee & Tea, Restaurants, American, Bar, Pu...",NaN,2016-06-20T17:47:10Z,"The Feve, Oberlin: See 170 unbiased reviews of...",NaN,...,/oberlin-oh/mip/the-feve-8940755/menu,The Feve,"mastercard, amex, discover, Yes, visa","[""4407741978"",""4197741978"",""4407753064""]",44074,USD 25.00-40.00,OH,NaN,NaN,http://www.thefeve.com
4,55 Crescent Dr,Sandwich Place and Fast Food Restaurant,Pleasant Hill,yellowpages.com,US,"Take Out Restaurants, Asian Restaurants, Resta...",NaN,2016-07-23T23:55:05Z,"[""https://www.zagat.com/r/yalla-mediterranean-...",NaN,...,/pleasant-hill-ca/mip/yalla-mediterranean-5061...,Quiznos,"master card, visa",9258258644,94523,$,CA,NaN,quiznos,http://www.yallamedi.com/

* Renamed `province` column to `state` for clear joining of other .csv files

In [22]:
vegan_restaurants_df.rename(columns={"province":"state"}, inplace=True)

* Dropped all unnecessary columns with unwanted data

In [23]:
dropped_columns_df = vegan_restaurants_df.drop(["key","features","menus","languages","hours","images",
                                                "isClosed","dateOpened","address","categories","claimed", "priceRange",
                                                "dateUpdated", "descriptions","facebookPageURL","menuURL",
                                                "name","paymentTypes","phones" ,"postalCode","sic","twitter",
                                                "websites","cuisines"], axis=1)

* Cleared all null values in dataframe

In [24]:
no_null_df = dropped_columns_df.dropna()
no_null_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13669 entries, 0 to 18153
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     13669 non-null  object
 1   country  13669 non-null  object
 2   lat      13669 non-null  float64
 3   long     13669 non-null  float64
 4   state    13669 non-null  object
dtypes: float64(2), object(3)
memory usage: 640.7+ KB

* Sorted values by `city`

In [25]:
sorted_df = no_null_df.sort_values("city")
sorted_df.head()

            city country        lat       long state
4558   Abbeville      US  29.971548 -92.119890    LA
4776   Abbeville      US  29.971565 -92.119970    LA
8840   Abbeville      US  29.971548 -92.119890    LA
657    Abbeville      US  29.971548 -92.119890    LA
15680   Aberdeen      US  35.114103 -79.386409    NC

* * Converted cleaned data frame to `clean_vegetarian_restaurant_locations.csv` file and exported.

In [26]:
sorted_df.to_csv("clean_vegetarian_restauant_location.csv", encoding="utf-8", index=False)